<footer class="footer-wrapper footer-layout2 bg-dark bg-fluid" data-bg-src="assets/img/shape/footer-bg-2-1.jpg">
    <div class="footer-widget-wrapper  dark-style1 pb-30">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-lg-3 col-xl-3">
                    <div class="widget footer-widget pt-0">
                        <h3 class="widget_title text-white">About Us</h3>
                        <div class="vs-widget-about">
                            <p class="pe-xl-3">Learning with us is fun & addictive Earn points for correct answers,
                                race against the clock, level up.</p>
                            <div class="d-flex gap-2 text-white mt-25">
                                <a class="icon-btn text-white" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="icon-btn text-white" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="icon-btn text-white" href="#"><i class="fab fa-behance"></i></a>
                                <a class="icon-btn text-white" href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-6 col-lg-2 col-xl-2">
                    <div class="widget footer-widget  ">
                        <h3 class="widget_title font-theme3">PLATFORM</h3>
                        <ul class="custom-links">
                            <li><a href="#">Playstation 4</a></li>
                            <li><a href="#">XBOX One</a></li>
                            <li><a href="#">PC</a></li>
                            <li><a href="#">Steam</a></li>
                            <li><a href="#">Origin</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-7 col-md-6 col-lg-4 col-xl-3">
                    <div class="widget footer-widget  ">
                        <h3 class="widget_title font-theme3">PLATFORM</h3>
                        <div class="row g-3">
                            <div class="col-sm-5">
                                <ul class="custom-links">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Store</a></li>
                                    <li><a href="#">Gallery</a></li>
                                    <li><a href="#">Portfolio</a></li>
                                    <li><a href="#">Contacts</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="custom-links">
                                    <li><a href="#">Terms Conditions</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Latest Insights</a></li>
                                    <li><a href="#">Latest Posts</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-4">
                    <div class="widget footer-widget  ">
                        <h3 class="widget_title text-white">news feeds</h3>
                        <div class="post-thumb-style1 border-light-white">
                            <div class="vs-blog d-flex gap-3">
                                <div class="media-img">
                                    <a href="blog-details.html"><img src="assets/img/footer/footer-post-1-1.jpg"
                                            alt="Recent Post"></a>
                                </div>
                                <div class="media-body align-self-center">
                                    <h4 class="h5 blog-title font-theme lh-base text-light mb-0"><a
                                            href="blog-details.html">The General Service Administration</a></h4>
                                    <div class="blog-meta fs-xs mt-1">
                                        <a href="blog.html"><i class="fal fa-calendar-alt"></i>June 21, 2025</a>
                                    </div>
                                </div>
                            </div>
                            <div class="vs-blog d-flex gap-3">
                                <div class="media-img">
                                    <a href="blog-details.html"><img src="assets/img/footer/footer-post-1-2.jpg"
                                            alt="Recent Post"></a>
                                </div>
                                <div class="media-body align-self-center">
                                    <h4 class="h5 blog-title font-theme lh-base text-light mb-0"><a
                                            href="blog-details.html">Wanted Video Gamer parytyshow</a></h4>
                                    <div class="blog-meta fs-xs mt-1">
                                        <a href="blog.html"><i class="fal fa-calendar-alt"></i>Augest 25, 2025</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 text-center">
                    <div class="copyright-shape bg-light-dark">
                        <p class="copywrite-text">Copyright &copy; 2024 <a href="index.html">Gamio</a> All Rights
                            Reserved By <a href="https://themeforest.net/user/vecuro_themes">Vecuro</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

