  
  <head>
    <link rel="stylesheet" href="/public/assets/css/style.css">
  </head>
  
  
  <!-- Include jQuery before your custom scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="global:scripts.js"></script>
     <!--==============================
       All Js File
   ============================== -->
   <!-- Jquery -->
   <script src="/public/assets/js/vendor/jquery-3.6.0.min.js"></script>
   <!-- Slick Slider -->
   <!-- <script src="/public/assets/js/app.min.js"></script> -->
   <script src="/public/assets/js/slick.min.js"></script>
   <!-- Bootstrap -->
   <script src="/public/assets/js/bootstrap.min.js"></script>
   <!-- Magnific Popup -->
   <script src="/public/assets/js/jquery.magnific-popup.min.js"></script>
   <!-- Isotop -->
   <script src="/public/assets/js/imagesloaded.pkgd.min.js"></script>
   <script src="/public/assets/js/isotope.pkgd.min.js"></script>
   <!-- jQuery UI -->
   <script src="/public/assets/js/jquery-ui.min.js"></script>
   <!-- Custom Carousel -->
   <script src="/public/assets/js/vscustom-carousel.min.js"></script>
   <!-- Mouse Cursor -->
   <script src="/public/assets/js/vs-cursor.min.js"></script>
   <!-- Mobile Menu -->
   <script src="/public/assets/js/vsmenu.min.js"></script>
   <!-- Map Js -->
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ "></script>
   <script src="/public/assets/js/map.js"></script>
   <!-- Form Js -->
   <script src="/public/assets/js/ajax-mail.js"></script>
   <!-- Main Js File -->
   <script src="/public/assets/js/main.js"></script>
   <script src="assets/js/jquery.min.js"></script>



<!--==============================
    Hero Area
    ==============================-->
    <div class="hero-layout3">
        <div class="row vs-carousel" data-arrows="false" data-dots="false" data-fade="true">
            <div class="hero-inner">
               
                <div class="hero-bg" data-bg-src="assets/img/hero/hero-img-3-1.jpg">
                 
                </div>
                <div class="container">
                    <div class="hero-content">
                        <span class="hero-subtitle">Playstation</span>
                        <h1 class="hero-title">Pro Danger<br>Esports Team</h1>
                        <div class="hero-media">
                            <span class="me-4"><i class="fal fa-calendar-alt"></i>december 21, 2023</span>
                            <span><i class="fal fa-user"></i>By admin</span>
                        </div>
                        <div class="hero-btns">
                            <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="popup-video vs-btn style1"><i
                                    class="fal fa-video mr-2"></i>Watch Match</a>
                            <a href="about.html" class="vs-btn outline3">Learn more</a>
                        </div>
                        <div class="hero-popup">
                            <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="popup-video play-btn"><i
                                    class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
           
           
        </div>
    </div>

        <!-- Scroll Top Top Button -->
        <a href="#" class="scrollToTop icon-btn3"><i class="far fa-angle-up"></i></a>

        <div class="vs-cursor"></div>
        <div class="vs-cursor2"></div>

       

